In [1]:
#Pandas for dataframe analysis
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# tranform JSON file into a pandas dataframe
from pandas.io.json import json_normalize 

#Numpy for array operations
import numpy as np 

#json for handling with json data
import json 

# convert address into coordinate values
from geopy.geocoders import Nominatim
import geocoder

# library to handle requests
import requests 

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# KMeans from sklearn for clustering
from sklearn.cluster import KMeans

# to render map
import folium 

#beautiful soup library for importing html format
#!pip install beautifulsoup4    #to install bs4 package
from bs4 import BeautifulSoup

#package to process html and xml
import lxml

# matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

print('Libraries imported.')

Bad key "text.kerning_factor" on line 4 in
C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.2/matplotlibrc.template
or from the matplotlib source distribution

Libraries imported.

In [20]:
# !wget -O quarterly.xlsx https://www.ros.gov.uk/__data/assets/excel_doc/0007/171385/RoS_quarterly-house-price-statistics_tables_2020-21-Q2_July-to-September-2020.xlsx

In [21]:
scot_hp19 = pd.read_excel("quarterly.xlsx", sheet_name = "Table 1_average price", header = 7, usecols = "A:D", nrows = 2317, index_col = None)

In [22]:
scot_hp19.head()

,Date,Local authority code,Local authority,Average residential property price (£)
0,2003-04 Q1,S12000033,Aberdeen City,83294.3
1,2003-04 Q1,S12000034,Aberdeenshire,92455.7
2,2003-04 Q1,S12000041,Angus,76525
3,2003-04 Q1,S12000035,Argyll and Bute,84156.6
4,2003-04 Q1,S12000036,City of Edinburgh,141270

In [23]:
scot_hp19 = scot_hp19[scot_hp19['Date']=='2019-20 Q2']
scot_hp19

,Date,Local authority code,Local authority,Average residential property price (£)
2145,2019-20 Q2,S12000033,Aberdeen City,193722
2146,2019-20 Q2,S12000034,Aberdeenshire,215922
2147,2019-20 Q2,S12000041,Angus,171809
2148,2019-20 Q2,S12000035,Argyll and Bute,172582
2149,2019-20 Q2,S12000036,City of Edinburgh,274168
2150,2019-20 Q2,S12000005,Clackmannanshire,159676
2151,2019-20 Q2,S12000006,Dumfries and Galloway,151458
2152,2019-20 Q2,S12000042,Dundee City,145842
2153,2019-20 Q2,S12000008,East Ayrshire,129380
2154,2019-20 Q2,S12000045,East Dunbartonshire,257145
2155,2019-20 Q2,S12000010,East Lothian,250339
2156,2019-20 Q2,S12000011,East Renfrewshire,252110
2157,2019-20 Q2,S12000014,Falkirk,155706
2158,2019-20 Q2,S12000047,Fife,163895
2159,2019-20 Q2,S12000049,Glasgow City,164065
2160,2019-20 Q2,S12000017,Highland,186260
2161,2019-20 Q2,S12000018,Inverclyde,135200
2162,2019-20 Q2,S12000019,Midlothian,232223
2163,2019-20 Q2,S12000020,Moray,168751
2164,2019-20 Q2,S12000013,Na h-Eileanan Siar,129687
2165,2019-20 Q2,S12000021,North Ayrshire,129418
2166,2019-20 Q2,S12000050,North Lanarkshire,137815
2167,2019-20 Q2,S12000023,Orkney Islands,148633
2168,2019-20 Q2,S12000048,Perth and Kinross,206531
2169,2019-20 Q2,S12000038,Renfrewshire,150376
2170,2019-20 Q2,S12000026,Scottish Borders,176549
2171,2019-20 Q2,S12000027,Shetland Islands,169661
2172,2019-20 Q2,S12000028,South Ayrshire,158721
2173,2019-20 Q2,S12000029,South Lanarkshire,160149
2174,2019-20 Q2,S12000030,Stirling,215420
2175,2019-20 Q2,S12000039,West Dunbartonshire,120650
2176,2019-20 Q2,S12000040,West Lothian,187740
2177,2019-20 Q2,S92000003,Scotland,184654

In [24]:
scot_hp19 = scot_hp19[scot_hp19['Local authority code'].str.contains("S120")]

In [27]:
scot_hp19.drop(columns='Date', inplace=True)
scot_hp19.columns = ['LocalAuthorityCode', 'LocalAuthority', 'AveragePrice']

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [28]:
scot_hp19.reset_index(drop=True)

   LocalAuthorityCode         LocalAuthority AveragePrice
0           S12000033          Aberdeen City       193722
1           S12000034          Aberdeenshire       215922
2           S12000041                  Angus       171809
3           S12000035        Argyll and Bute       172582
4           S12000036      City of Edinburgh       274168
5           S12000005       Clackmannanshire       159676
6           S12000006  Dumfries and Galloway       151458
7           S12000042            Dundee City       145842
8           S12000008          East Ayrshire       129380
9           S12000045    East Dunbartonshire       257145
10          S12000010           East Lothian       250339
11          S12000011      East Renfrewshire       252110
12          S12000014                Falkirk       155706
13          S12000047                   Fife       163895
14          S12000049           Glasgow City       164065
15          S12000017               Highland       186260
16          S12000018             Inverclyde       135200
17          S12000019             Midlothian       232223
18          S12000020                  Moray       168751
19          S12000013     Na h-Eileanan Siar       129687
20          S12000021         North Ayrshire       129418
21          S12000050      North Lanarkshire       137815
22          S12000023         Orkney Islands       148633
23          S12000048      Perth and Kinross       206531
24          S12000038           Renfrewshire       150376
25          S12000026       Scottish Borders       176549
26          S12000027       Shetland Islands       169661
27          S12000028         South Ayrshire       158721
28          S12000029      South Lanarkshire       160149
29          S12000030               Stirling       215420
30          S12000039    West Dunbartonshire       120650
31          S12000040           West Lothian       187740

In [29]:
scot_a = pd.read_excel("scotland_area.xlsx", sheet_name = "Table 48", header = 7, usecols = "A:E", nrows = 33, index_col = 0)
scot_a.dropna(axis = 0, inplace=True)
scot_a.columns = ["LocalAuthority", "UrbanAreas", "RuralAreas", "TotalArea"]
scot_a = scot_a[["UrbanAreas", "RuralAreas", "TotalArea"]]
scot_a.head()

                        UrbanAreas     RuralAreas      TotalArea
Local authority code
S12000033              8478.177586   10092.451054   18570.628640
S12000034              5770.833679  625490.050889  631260.884568
S12000041              3000.761652  215177.785564  218178.547216
S12000035              2312.039540  688634.581138  690946.620678
S12000036             13343.762443   12989.628748   26333.391191